version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: orgkpi-db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
      - ./backend/.env.${NODE_ENV}

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: orgkpi-backend
    env_file:
      - ./backend/.env.${NODE_ENV}
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      TZ: America/Sao_Paulo
      NODE_ENV: ${NODE_ENV}

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    container_name: orgkpi-frontend
    depends_on:
      - backend
    ports:
      - "5173:80"
    environment:
      TZ: America/Sao_Paulo

  # ===================== MONITORAMENTO =====================
  prometheus:
    image: prom/prometheus
    container_name: orgkpi-prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    depends_on:
      - backend
      - cadvisor

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: orgkpi-cadvisor
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - "8080:8080"

  loki:
    image: grafana/loki:2.9.0
    container_name: orgkpi-loki
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    volumes:
      - ./monitoring/loki/local-config.yaml:/etc/loki/local-config.yaml
      - loki_data:/loki

  promtail:
    image: grafana/promtail:2.9.0
    container_name: orgkpi-promtail
    volumes:
      - ./observability:/etc/promtail:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:latest
    container_name: orgkpi-grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
      - loki

volumes:
  db_data:
  grafana_data:
  loki_data:
  prometheus_data:
