name: CD

on:
  workflow_run:
    workflows: ["CI + Sonar"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    if: >
      ${{
        github.event_name == 'workflow_dispatch' ||
        (
          github.event_name == 'workflow_run' &&
          github.event.workflow_run.conclusion == 'success' &&
          github.event.workflow_run.head_branch == 'main'
        )
      }}

    runs-on: ubuntu-latest

    steps:
      - name: Start SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add VPS to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H 158.23.56.35 >> ~/.ssh/known_hosts

      - name: Deploy via SSH
        run: |
          ssh -o StrictHostKeyChecking=yes gustavo@158.23.56.35 '
            set -e
            cd ~/gestao_rh &&
            git fetch origin &&
            git reset --hard origin/main &&
            NODE_ENV=production VITE_API_URL=https://orgkpi.com.br/api docker compose up -d --build &&
            docker image prune -f
          '
